.Charge {
    /* position: relative;
    top : 50px; */
    position : absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
}

.Charge-Column{
    display: flex;
    flex-direction: column;
}

.Charge-Title{
    font-size: 3rem;
    font-weight: 800;
}

.Charge-Explanation{
    margin-top : 24px;
    margin-left : 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(100,100,100);
}

.Charge-Main {
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid rgb(180, 180, 180);
    border-radius: 7px;
    background:rgb(230,230,230);
    padding: 35px;
    margin-top : 30px;
}

.Charge-Contents{
    margin: 10px;
    font-size: 17px;
}

.Charge-Cotents-Column{
    display: flex;
    margin-bottom: 10px;
    font-weight: 700;
}

.Icon-Film{
    margin-right: 5px;
}


.Charge-Input{
    width: 250px;
    height: 25px;
    display: block;
    border : none;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
}

.Charge-Button{
    justify-self: flex-start;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    outline:none;
}