.FollowBtn-Modal-Overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.16);
  }
  .FollowBtn-Modal{
    width: 320px;
    z-index: 9001;   /*div 의 창이 맨 앞으로 오게 ( 순서 1 )*/
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    margin-top: 20px;
    padding: 15px 5px;

    position: absolute;
}

.FollowBtn-Following{
    color: blue;
    border: 0;
    outline: 0;
    font-size: 17px;
    background: none;
    cursor: pointer;
}
.FollowBtn-Follower{
    color: gray;
    margin-left: 5%;
    border: 0;
    outline: 0;
    font-size: 17px;
    background: none;
    cursor: pointer;
}