
.Ranking-Box-Left{
    text-align: center;
    height:20px;
    margin-top: 3px;
    margin-left: 3px;
    font-size: 15px;
}

.followbtn{
    color: #ff7675;
    font-size: 20px;
    padding-right: 5px;
}

