.Ranking-Box-Ranking{
    width: 120px;
    margin-top: 5px;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
}

.Ranking-Box-Text{
    margin-top: 25px;
    border-top: 1px solid grey;
}


