.Photos{
    margin-right: -10px;
    width: 1215px;
}

.Grid{
    overflow: hidden;
    list-style: none;
    margin: 0;
}

.Grid li{
    width :32%;
}

.Grid img{
    overflow: hidden;
    width: 100%;
}
<<<<<<< HEAD

@media screen and (max-width : 100%){
    .Grid li{
        width :32%;
    }
}

@media screen and (max-width : 1200px){
    .Grid li{
        width : 48%;
    }
}

@media screen and (max-width : 800px){
    .Grid li{
        width : 100%;
    }
}
=======
>>>>>>> master
