.Ranking-Main {
    width: 100%;
    height: 100%;
    margin-left: 130px;
}
.Ranking-Title {
    font-size: 15px;
    font-weight: bold;
}
.Ranking-Box{
    width: 150px;
    height: 150px;
    background: grey;

}

