.Image-Column{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top : 10px;
}

.MainImage{
    width: 100%;
    margin: auto;
    box-shadow: 0 0 10px gray;
}

.Image-Column:nth-child(2) p{
    font-size: 15px;
    margin-left : 20px;
}

.Image-UseInforfmation{
    display: flex;
    margin-left : auto;
    margin-right : 10px;
}

.Image-UseInforfmation-Item{
    display: flex;
    margin-left: 7px;
    font-size : 15px;
}

.Declaration{
    cursor: pointer;
}

.Like{
    color: red;
    cursor: pointer;
}

.Mark{
   color : rgb(255, 234, 44); 
   cursor: pointer;
}

.Relatied-Title{
    font-size: 30px;
    font-weight: 600;
}

.Image-Relation{
    width: 100%;
    padding-bottom: 20%; 
    background-size: cover;
    background-position: center;
    margin-right: 1%;
}

.Image-Relation:last-child{
    margin-right: 0;
}


