.Payment-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(100,100,100,0.16);
}

  .Payment-Modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    z-index: 9000;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    padding: 15px 5px;
}

.Payment-Title {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin-top: 10px;
    margin-left: 25px;
}

.Payment-Content{
  margin: 10px auto;
  color: none;
  border : 1px solid rgb(180, 180, 180);
  border-radius: 3px;
  width: 250px;
  height: 250px;
}

.Payment-Button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin : 10px 30px 10px 0;
}

.Payment-Button Button{
  width: 70px;
  height : 30px;
  outline : none;
  border-radius : 5px;
  font-size : 13px;
}


.Payment-Button-download{
  color: white;
  background : rgb(82, 195, 181);
  border : none;
}

.Payment-Button-cancle{
  background : none;
  border : 1px solid rgb(200, 200, 200);
  margin-right : 8px;
}
