
.MyInformation-Menu-Tabs{
    width: 27%;
    display: flex;
    flex-direction: column;
}
.MyInformation-Menu-Tab{
    height: 50px;
    background: none;
    border: 0;
    outline: 0;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.MyInformation-Pw-True{
    font-size: 20px;
    font-weight: bold;
    margin: 40px;
    justify-self: center;
    align-self: center;
}

.MyInformation-Pw{
    width: 65%;
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}
.MyInformation-Pw-Check{
    font-size: 20px;
    font-weight: bold;
    margin: 35px;
    margin-left: 0px;
    margin-top: 0px;
}

.MyInformation-Pw-Btn{
    cursor: pointer;
    width: 90px;
    height: 28px;
    margin: 5px;
}
.MyInformation-Pw-Input{
    margin: 5px;
}

.MyInformation-Pw-Incorrect{
    width: 200px;
    height: 20px;
    color: red;
    margin: 5px;
}