.MyProfile-Edit{
    width: 750px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-right: 0;
}

.Edit-ThCell{
    width: 200px;
    height: 170px;

    /* line-height: 14px; */
    /* text-align: left; */
    /* vertical-align: top; */
    /* letter-spacing: -1px; */
    /* border: 0; */
    border-top: 1px solid #e5e5e5;
}
.Edit-TdCell{
    width: 500px;
    height: 170px;
    padding: 32px 0 32px 30px;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.Edit-TdCell .Edit-Photo{
    width: 20%;
    height: 80%;
    background: gray;

    border-radius: 50%;
    border: 1px solid gray;
    background: gray;
}
.Edit-TdCell .Edit-TdCell-Input{

}