.Profile-Grade{
    border-radius: 7px;
    font-size: 5px;
    color: white;
    background : gray;
    margin: 5px auto;
}

.Grade-Modal-Overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.16);
  }
.Grade-Modal{
    width: 320px;
    z-index: 1;   /*div 의 창이 맨 앞으로 오게 ( 순서 1 )*/
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    padding: 15px 5px;

    position: absolute;
}
.Grade-Modal .Grade-Title{
    margin: 10px;
    text-align: center;
}
.Grade-Modal .Grade-Content{
    padding: 0 20px;
    color: none;
}
.Grade-Modal .Grade-Content p{
    background: gray;
}
.Grade-Modal .Grade-Button-Wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 20px;
}
.Grade-Modal .Grade-Button-Wrap Button{
    width: 30%;
    padding: 12px 0;
    border-radius: 0 0 10px 10px;
    border: none;

    color: blue;
    background: none;
    font-size: 13pt;
    cursor: pointer;
}
.Grade-Modal .Grade-Button-Wrap .Grade-Button1{
    color: gray;
}