.MyWithdrawal{
    margin: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MyWithdrawal-P{
    margin: 20px;
    margin-bottom: 60px;
    word-break: keep-all;
}
.MyWithdrawal-Input{
    margin: 5px;
}
.MyWithdrawal-Btn{
    cursor: pointer;
    width: 90px;
    height: 28px;
    margin: 7px;
    border: 0;
    outline: 0;
    font-size: 17px;
}